extends layout 
 
block content 
  h1= title 
 
  - let fishid = toShow._id 
  - let Name = toShow.Name 
  - let colour = toShow.colour 
  - let age = toShow.age 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{fishid} 
  - let actionid = "/resource/fish/" + fishid 
  form(id='fishForm', action= actionid, method="PUT") 
    div.form-group 
        label.fishAttr(for='Name') Name 
        input#Name(type='text', name='Name', value= Name ) 
    div.form-group 
        label.fishAttr(for='colour') colour 
        input#colour(type='text', name='colour', value= colour ) 
    div.form-group 
        label.fishAttr(for='age') age 
        input#age(type='number', name='age', value= age ) 
    input(type="submit") 
 
  script. 
    document.forms['fishForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 